.venv
old_scripts

# remove any media files
assets
cache

# config files
setup.yml

# ignore cache files
*.pyc
*.pyo

# ignore logs
*.log

# ignore pytest cache
.pytest_cache

# IDE caches
.vscode
.idea

# Ignore any media files
*.mp4
*.avi
*.wav
*.mp3

# ignore ipynb files and checkpoints, which may be used for testing
*.ipynb
.ipynb_checkpoints
